holidays==0.24
prophet==1.1.2
sktime
pmdarima
pandas
matplotlib
seaborn
plotly
scikit-learn
streamlit
yfinance
lightgbm
statsmodels
streamlit
geopandas
folium
xmltodict
streamlit-option-menu
millify
pingouin
jupyterlab